xiaohongshu-cli==0.6.4
anyio==4.12.1
apify-fingerprint-datapoints==0.11.0
browser-cookie3==0.20.1
browserforge==1.2.4
camoufox==0.4.11
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
greenlet==3.3.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jeepney==0.9.0
language-tags==1.2.0
lxml==6.0.2
lz4==4.4.5
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.4.3
orjson==3.11.7
platformdirs==4.9.4
playwright==1.58.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
pyee==13.0.1
pygments==2.19.2
pysocks==1.7.1
pyyaml==6.0.3
qrcode==8.2
requests==2.32.5
rich==14.3.3
screeninfo==0.8.1
tqdm==4.67.3
typing-extensions==4.15.0
ua-parser==1.0.1
ua-parser-builtins==202603
urllib3==2.6.3
xhshow==0.1.9
